<!DOCTYPE html>
<head>
    <html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id = "mypage" class="section">
        <div class="mypage_cards">
            <div class="row justify-content-center mb-sm-5 mb-md-5 mb-lg-5 mb-xl-3">
                <a class="col-md-3 col-sm-3 col-xs-12" href="#"><img src="/images/purchase_hs.png" alt="이용권구매">
                <a class="col-md-3 col-sm-3 col-xs-12" href="#"><img src="/images/mypage_ticket.png" alt="이용권현황"></a>
            </div>    
            <div class="row justify-content-center">
                <a class="col-md-3 col-sm-3 col-xs-12" href="/hait/profile"><img src="/images/profile_edit.png" alt="프로필"></a>
                <a class="col-md-3 col-sm-3 col-xs-12" href="#"><img src="/images/mypage_event.png" alt="이벤트"></a>
            </div>
        </div>
    </section>
</body>    

