<!DOCTYPE html>
<head>
    <html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="section__detail">
        <h4>방 정보</h4></h4>
        <table>
            <tr>
                <td>층수2층/5층</td>
                <td>식사여부 아침,저녁 제공</td>
            </tr>
            <tr>
                <td><p>방역여부</p><p>있음</p></td>
                <td></td><p>냉방여부</p><p>선풍기,에어컨 제공</p></td>
           </tr>
           
        </table> 
    </sectionl>
</body>    

