<div class="form-group row justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
    <div class="my-5">
      <h5><i class="fa fa-ticket" aria-hidden="true"></i> 이용권을 구매하세요!</h5>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/1개.png" alt="1개" width="100%"></a></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/3개.png" alt="3개" width="100%"></a></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/5개.png" alt="5개" width="100%"></a></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/10개.png" alt="10개" width="100%"></a></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/15개.png" alt="15개" width="100%"></a></div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4"><a class="d-blcok" href="https://developers.kakao.com/payment/index#카카오페이"><img src="/images/20개.png" alt="20개" width="100%"></a></div>
        </div>      
      </div>
    </div>
  </div>      
</div>
    