.login-box {
    background-color: white;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
    border: 5px solid #ff5069;
    border-radius: 8px;
    padding-top: 30px;
    border-width: 4px 10px 4px 10px;
    width: 330px;
    margin: auto;
}
.container {
    margin-top: 30px
}

.field {
    width: 250px
}

.actions {
     text-align: center;
}
