<!DOCTYPE html>
<head>
  <html lang="ko">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
  <!--checkbox & radio를 위한 css  -->
  <link href="css/magic-check.css" rel="stylesheet">
</head>

<body>
  
  <%=form_tag '/hait/user_type_update' , method:'post' do%>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <p>서비스를 이용하기 위해서 사용자 유형을 선택해주세요.</p>
        <div class="row justify-content-center">  
          <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
            <%=radio_button_tag  'user_type', '0', false, class: 'option-input radio' %> 하숙생
          </div>
          <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
            <%=radio_button_tag  'user_type', '1', html:{class: 'option-input radio'} %> 하숙주인
          </div>
          <input type='hidden' >
          <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
            <%=submit_tag '확인' , class:'btn a_btn_primary btn-block col-lg-3 col-md-3 col-sm-6 col-xs-8 my-5'%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
    
    
    
    
  <!--</div>-->
  
  <!--<div class='col-lg-4 col-md-4 col-sm-6 col-xs-10'>-->
  <!--  <div class="container">-->
  <!--    <div class="form-check form-check-inline">-->
  <!--      <label class="form-check-label">-->
  <!--        <input class="option-input radio" type="radio" name="user_type" value=0 checked> (예비)하숙생입니다.-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div class="form-check form-check-inline">-->
  <!--      <label class="form-check-label">-->
  <!--        <input class="option-input radio" type="radio" name="user_type" value=1 > 하숙주인입니다.-->
  <!--      </label>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  
</body>