
<section class="section__profile container">
  <form>
    <div class="form-group row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-10 col-xs-8">
        <div class="mb-5">
          <p>
          <h5><i class="fa fa-ticket" aria-hidden="true"></i> 내 이용권</h5>
          </p>
          <table class="table">
            <tbody>
              <tr class="ye">
                <th>
                  <div class="text-center">
                    <img src="/images/ticket.png" alt="1개" width="150px"></th>
                  </div>
                <th>
                  <h1 class="text-primary big" style="display: inline;">1 </h1><h3 style="display: inline;">개</h3>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <p> 
          <h5><i class="fa fa-list-alt" aria-hidden="true"></i> 이용 내역</h5><hr/>
          </p>
          <p>
            반복문으로 출력하면 됩니다.
            <hr/>
          </p>
        </div>
      </div>
    </div>
  </form>
</section>