<!DOCTYPE html>
<html>
<head>
    <!--font awsome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-primary bg-white">
      <!--<a class="navbar-brand" href="/"><img src="/images/mainlogo.png" alt ="logo"></a>-->
      <a class="navbar-brand" href="/"><img src="/images/mainlogo.png" alt ="logo" class="mainlogo"></a>
      <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        메뉴
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/hait/room_search">방 검색</a>
          </li>
          <%if user_signed_in? %>
            <% if current_user.user_type == 1 %>
              <li class="nav-item">
                <a class="nav-link" href="/hait/home_management">하숙 관리</a>
              </li>
            <%end%>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_out">로그아웃</a>
          </li>
                    <li class="nav-item">
            <a class="nav-link" href="/hait/mypage">마이페이지</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">로그인</a>
          </li>
          <% end %>
      </div>
    </nav>
    <!--//navbar-->
  <title>하숙을 잇다 'Ha-it'</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
